src/main/resources/wsdl/BmiBmrCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gladigator.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="BmiBmrCalculatorService" targetNamespace="http://gladigator.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://gladigator.com/" elementFormDefault="unqualified"
			targetNamespace="http://gladigator.com/" version="1.0">
			
			
			
			<xs:simpleType name="Gender">
				<xs:restriction base="xs:string">
					<xs:enumeration value="M"/>
					<xs:enumeration value="F"/>
				</xs:restriction>
			</xs:simpleType>
			
			<xs:complexType name="calculateBMIRequest">
				<xs:sequence>
					<xs:element name="height" type="xs:int"/>
					<xs:element name="weight" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="calculateBMIResponse">
				<xs:sequence>
					<xs:element name="calculatedBMI" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="calculateBMRRequest">
				<xs:sequence>
					<xs:element name="height" type="xs:int"/>
					<xs:element name="weight" type="xs:int"/>
					<xs:element name="age" type="xs:int"/>
					<xs:element name="activityFrequency" type="xs:int"/>
					<xs:element name="gender" type="tns:Gender"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="calculateBMRResponse">
				<xs:sequence>
					<xs:element name="calculatedBMRResponse" type="xs:string"/> 
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="calculateBMIRequest" type="tns:calculateBMIRequest" />

			<xs:element name="calculateBMIResponse" type="tns:calculateBMIResponse" />

			<xs:element name="calculateBMRRequest" type="tns:calculateBMRRequest" />

			<xs:element name="calculateBMRResponse" type="tns:calculateBMRResponse" />
			
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="calculateBMIRequest">
		<wsdl:part element="tns:calculateBMIRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calculateBMIResponse">
		<wsdl:part element="tns:calculateBMIResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="calculateBMRRequest">
		<wsdl:part element="tns:calculateBMRRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calculateBMRResponse">
		<wsdl:part element="tns:calculateBMRResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="BmiBmrCalculatorPortType">
		<wsdl:operation name="calculateBMI">
			<wsdl:input message="tns:calculateBMIRequest" name="calculateBMIRequest">
			</wsdl:input>
			<wsdl:output message="tns:calculateBMIResponse" name="calculateBMIResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calculateBMR">
			<wsdl:input message="tns:calculateBMRRequest" name="calculateBMRRequest">
			</wsdl:input>
			<wsdl:output message="tns:calculateBMRResponse" name="calculateBMRResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BmiBmrCalculatorServiceSoapBinding"
		type="tns:BmiBmrCalculatorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="calculateBMI">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="calculateBMIRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="calculateBMIResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calculateBMR">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="calculateBMRRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="calculateBMRResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BmiBmrCalculatorService">
		<wsdl:port binding="tns:BmiBmrCalculatorServiceSoapBinding"
			name="BmiBmrCalculatorPort">
			<soap:address
				location="http://localhost:3000/bmibmrws/services/bmibmrcalculator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>